
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <h1>VI DU VE MVC</h1>
        <br />
        @ViewBag.XinChao
        @ViewBag.BayGio

        @Html.ActionLink("Form Email","RsvpForm")
    </div>
</body>
</html>
